<div class="custom_select_wrapper" tabindex="0">
	<select title
			name="LearnerInfo.Identification.Demographics.Birthdate.Day"
			data-help-key="LearnerInfo.Identification.Demographics.Birthdate"
			class="formfield help Birthdate pref Date Day with-placeholder hidden_select"
			data-bind-name="group"
			data-bind-group="LearnerInfo.Identification.Demographics.Birthdate">
			<option value="" {{#unless Birthdate.Day}}selected="selected"{{/unless}}>
				{{get_text "LearnerInfo.Identification.Demographics.Birthdate.Day" group = "EditorPlaceholder"}}
			</option>
			{{#loop Birthdate.Day start = "1" end = "31" step = "1" looptype = "day"}}
				<option value="{{Index}}" {{#equals../Birthdate.Day Index}}selected="selected"{{/equals}}>{{Label}}</option>
			{{/loop}}
	</select>
	<ul title
				name="LearnerInfo.Identification.Demographics.Birthdate.Day"
				data-help-key="LearnerInfo.Identification.Demographics.Birthdate"
				class="formfield help Birthdate pref custom_select custom_select_multi Date Day with-placeholder"
				data-bind-name="group"
				data-bind-group="LearnerInfo.Identification.Demographics.Birthdate">
			<li class="init multi_instances" data-value="" {{#unless Birthdate.Day}}selected="selected"{{/unless}}>
				{{get_text "LearnerInfo.Identification.Demographics.Birthdate.Day" group="EditorPlaceholder"}}
			</li>
			<span class="fancySelect arrow multi_instances"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span>
			<ul>
				{{#loop Birthdate.Day start="1" end="31" step="1" looptype="day"}}
					<li data-value="{{Index}}" {{#equals ../Birthdate.Day Index}}selected="selected"{{/equals}}>{{Label}}</li>
				{{/loop}}
			</ul>
	</ul>
</div>
<div class="custom_select_wrapper" tabindex="0">
	<select title
			name="LearnerInfo.Identification.Demographics.Birthdate.Month" 
			data-help-key="LearnerInfo.Identification.Demographics.Birthdate"
			class="formfield help Birthdate pref Date Month with-placeholder hidden_select"
			data-bind-name="group"
			data-bind-group="LearnerInfo.Identification.Demographics.Birthdate">
			<option value="" {{#unless Birthdate.Month}}selected="selected"{{/unless}}>
				{{get_text "LearnerInfo.Identification.Demographics.Birthdate.Month" group = "EditorPlaceholder"}}
			</option>
			{{#loop Birthdate.Month start = "1" end = "12" step = "1" looptype = "month"}}
				<option value="{{Index}}" {{#equals../Birthdate.Month Index}}selected="selected"{{/equals}}>{{Label}}</option>
			{{/loop}}
	</select>
	<ul title
			name="LearnerInfo.Identification.Demographics.Birthdate.Month" 
			data-help-key="LearnerInfo.Identification.Demographics.Birthdate"
			class="formfield help Birthdate pref Date Month with-placeholder custom_select custom_select_multi"
			data-bind-name="group"
			data-bind-group="LearnerInfo.Identification.Demographics.Birthdate">
			<li class="init multi_instances" data-value="" {{#unless Birthdate.Month}}selected="selected"{{/unless}}>
			{{get_text "LearnerInfo.Identification.Demographics.Birthdate.Month" group = "EditorPlaceholder"}}
			</li>
			<span class="fancySelect arrow multi_instances"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span>
			<ul>
				{{#loop Birthdate.Month start = "1" end = "12" step = "1" looptype = "month"}}
				<li data-value="{{Index}}" {{#equals../Birthdate.Month Index}}selected="selected"{{/equals}}>{{Label}}</li>
				{{/loop}}
			</ul>
	</ul>	
</div>
<div class="custom_select_wrapper" tabindex="0">
	<select title
		name="LearnerInfo.Identification.Demographics.Birthdate.Year"
		data-help-key="LearnerInfo.Identification.Demographics.Birthdate"
		class="formfield help Birthdate pref Date Year with-placeholder hidden_select"
		data-bind-name="group"
		data-bind-group="LearnerInfo.Identification.Demographics.Birthdate">
		<option value="" {{#unless Birthdate.Year}}selected="selected"{{/unless}}>
			{{get_text "LearnerInfo.Identification.Demographics.Birthdate.Year" group="EditorPlaceholder"}}
		</option>
		{{#loop Birthdate.Year start="1930" end="" step="1" looptype="year"}}
			<option value="{{Index}}" {{#equals ../Birthdate.Year Index}}selected="selected"{{/equals}}>{{Label}}</option>
		{{/loop}}
	</select>
	<ul title
		name="LearnerInfo.Identification.Demographics.Birthdate.Year"
		data-help-key="LearnerInfo.Identification.Demographics.Birthdate"
		class="formfield help Birthdate pref Date Year with-placeholder custom_select custom_select_multi"
		data-bind-name="group"
		data-bind-group="LearnerInfo.Identification.Demographics.Birthdate">
		<li class="init multi_instances" data-value="" {{#unless Birthdate.Year}}selected="selected"{{/unless}}>
			{{get_text "LearnerInfo.Identification.Demographics.Birthdate.Year" group="EditorPlaceholder"}}
		</li>
		<span class="fancySelect arrow multi_instances"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span>
		<ul>
			{{#loop Birthdate.Year start="1930" end="" step="1" looptype="year"}}
				<li data-value="{{Index}}" {{#equals ../Birthdate.Year Index}}selected="selected"{{/equals}}>{{Label}}</li>
			{{/loop}}
		</ul>
	</ul>
</div>