<header>
<legend class="normal">{{get_text "export.wizard.step.dropbox.desc" group="GuiLabel"}}</legend>
<legend class="on-success">{{get_text "export.wizard.step.dropbox.desc.on.success" group="GuiLabel"}}</legend>
<legend class="on-error">{{get_text "export.wizard.step.dropbox.desc.on.error" group="GuiLabel"}}</legend>
</header>

<fieldset class="step-info">
	<div class="note dropbox">
		<span class="icon"></span>
		<div class="text">{{get_text "export.wizard.step.dropbox.details" group="GuiLabel"}}</div>
	</div>
<!-- 	<div class="note">
		<div class="dropbox warning">
			<span class="icon"></span>
			<div class="text">
				<span class="warning">{{get_text "text.warning" group="GuiLabel"}}</span
				>{{get_text "warning.dropbox.default.store.location" group="Notification"}}</div>
		</div>
	</div> -->
</fieldset>
