<div id="toolbar-{{id}}" class="html-format-toolbar" style="display: none;">
	
	<a  data-wysihtml5-command="bold" title="CTRL+B" 
    	class="format-option bold" 
    	title="{{get_text "bold" group="EditorCommands"}}">bold</a>
    	
    <a  data-wysihtml5-command="italic" title="CTRL+I"
    	class="format-option italic" 
    	title="{{get_text "italic" group="EditorCommands"}}">italic</a>
    	
    <a  data-wysihtml5-command="underline" title="CTRL+U"
    	class="format-option underline" 
    	title="{{get_text "underline" group="EditorCommands"}}">underline</a>	
    	
    <a  data-wysihtml5-command="insertUnorderedList"
    	class="format-option ullist" 
    	title="{{get_text "ul" group="EditorCommands"}}">insertUnorderedList</a>
    	
    <a  data-wysihtml5-command="insertOrderedList"
    	class="format-option ollist" 
    	title="{{get_text "ol" group="EditorCommands"}}">insertOrderedList</a>

</div>