<div id="BasicCvPrinciplesForm" class="overlay">
    <div class="basic-principles-content modal" style="display:none">
	<button class="close" style="display:none">Close</button>
	<div class="ui-cv-principles-area drawer" style="display:none">
		<span class="heading">{{get_text "FiveBasicPrinciples.BeforeYouStart" group="GuiLabel"}}</span>
		<div class="principle-title">{{get_text "FiveBasicPrinciples.1.ConcetrateOnTheEssentials" group="GuiLabel"}}</div>
		<ul class="principles-points">
			<li>{{get_text "FiveBasicPrinciples.1.ConcetrateOnTheEssentials.point-1" group="GuiLabel"}}</li>
			<li>{{get_text "FiveBasicPrinciples.1.ConcetrateOnTheEssentials.point-2" group="GuiLabel"}}</li>
			<li>{{get_text "FiveBasicPrinciples.1.ConcetrateOnTheEssentials.point-3" group="GuiLabel"}}</li>
			<li>{{get_text "FiveBasicPrinciples.1.ConcetrateOnTheEssentials.point-4" group="GuiLabel"}}</li>
		</ul>
		<div class="principle-title">{{get_text "FiveBasicPrinciples.2.ClearAndConcise" group="GuiLabel"}}</div>
		<ul class="principles-points">
			<li class="principle-point">{{get_text "FiveBasicPrinciples.2.ClearAndConcise.point-1" group="GuiLabel"}}</li>
			<li class="principle-point">{{get_text "FiveBasicPrinciples.2.ClearAndConcise.point-2" group="GuiLabel"}}</li>
			<li class="principle-point">{{get_text "FiveBasicPrinciples.2.ClearAndConcise.point-3" group="GuiLabel"}}</li>
		</ul>
		<div class="principle-title">{{get_text "FiveBasicPrinciples.3.AdaptCvToApplication" group="GuiLabel"}}</div>
		<ul class="principles-points">
			<li class="principle-point">{{get_text "FiveBasicPrinciples.3.AdaptCvToApplication.point-1" group="GuiLabel"}}</li>
			<li class="principle-point">{{get_text "FiveBasicPrinciples.3.AdaptCvToApplication.point-2" group="GuiLabel"}}</li>
			<li class="principle-point">{{get_text "FiveBasicPrinciples.3.AdaptCvToApplication.point-3" group="GuiLabel"}}</li>
			<li class="principle-point">{{get_text "FiveBasicPrinciples.3.AdaptCvToApplication.point-4" group="GuiLabel"}}</li>
		</ul>
		<div class="principle-title">{{get_text "FiveBasicPrinciples.4.Presentation" group="GuiLabel"}}</div>
		<ul class="principles-points">
			<li class="principle-point">{{get_text "FiveBasicPrinciples.4.Presentation.point-1" group="GuiLabel"}}</li>
			<li class="principle-point">{{get_text "FiveBasicPrinciples.4.Presentation.point-2" group="GuiLabel"}}</li>
			<li class="principle-point">{{get_text "FiveBasicPrinciples.4.Presentation.point-3" group="GuiLabel"}}</li>
			<li class="principle-point">{{get_text "FiveBasicPrinciples.4.Presentation.point-5" group="GuiLabel"}}</li>
		</ul>
		<div class="principle-title">{{get_text "FiveBasicPrinciples.5.FinalCheck" group="GuiLabel"}}</div>
		<ul class="principles-points">
			<li class="principle-point">{{get_text "FiveBasicPrinciples.5.FinalCheck.point-3" group="GuiLabel"}}</li>
			<li class="principle-point">{{get_text "FiveBasicPrinciples.5.FinalCheck.point-1" group="GuiLabel"}}</li>
			<li class="principle-point">{{get_text "FiveBasicPrinciples.5.FinalCheck.point-2" group="GuiLabel"}}</li>
		</ul>
	</div>
	<div class="side" style="display:none">
		<button class="button green principles-bot-btn">{{get_text "buttons.wizard.close" group="GuiLabel"}}</button>
	</div>
    </div>
</div>