<div id="PrepareYourInterviewForm" class="overlay">
    <div class="prepare-your-interview-content modal" style="display:none">
        <button class="close" style="display:none">Close</button>
        <div class="ui-cv-interview-area drawer" style="display:none">
            <span class="heading">{{get_text "PrepareYourInterview.HowTo" group="GuiLabel"}}</span>
            <div class="interview-paragraph">{{get_text "PrepareYourInterview.Intro" group="GuiLabel"}}</div>
            <div class="interview-paragraph">{{get_text "PrepareYourInterview.Tips" group="GuiLabel"}}</div>
            <ul class="interview-titles">
                <li><a href="#interview-prepare">{{get_text "PrepareYourInterview.Preparing.Title" group="GuiLabel"}}</a></li>
                <li><a href="#interview-structure">{{get_text "PrepareYourInterview.Structure.Title" group="GuiLabel"}}</a></li>
                <li><a href="#interview-after">{{get_text "PrepareYourInterview.After.Title" group="GuiLabel"}}</a></li>
            </ul>
            <div id="interview-prepare" class="interview-section">
                <div class="interview-title">{{get_text "PrepareYourInterview.Preparing.Title" group="GuiLabel"}}</div>
                <div class="interview-paragraph">{{get_text "PrepareYourInterview.Preparing.Content.1" group="GuiLabel"}}</div>
                <div class="interview-paragraph">{{get_text "PrepareYourInterview.Preparing.Content.2" group="GuiLabel"}}</div>
                <ul>
                    <li>
                        <div class="interview-point-title">{{get_text "PrepareYourInterview.Preparing.Match.Profile" group="GuiLabel"}}</div>
                        <ul>
                            <li>{{get_text "PrepareYourInterview.Preparing.Match.Profile.1" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Preparing.Match.Profile.2" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Preparing.Match.Profile.3" group="GuiLabel"}}</li>
                        </ul>
                    </li>
                    <li>
                        <div class="interview-point-title">{{get_text "PrepareYourInterview.Preparing.Mock.Interviews" group="GuiLabel"}}</div>
                        <ul>
                            <li>{{get_text "PrepareYourInterview.Preparing.Mock.Interviews.1" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Preparing.Mock.Interviews.2" group="GuiLabel"}}</li>
                        </ul>
                    </li>
                    <li>
                        <div class="interview-point-title">{{get_text "PrepareYourInterview.Preparing.Dress.Code" group="GuiLabel"}}</div>
                        <ul>
                            <li>{{get_text "PrepareYourInterview.Preparing.Dress.Code.1" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Preparing.Dress.Code.2" group="GuiLabel"}}</li>
                        </ul>
                    </li>
                    <li>
                        <div class="interview-point-title">{{get_text "PrepareYourInterview.Preparing.Avoid.Mistakes" group="GuiLabel"}}</div>
                        <ul>
                            <li>{{get_text "PrepareYourInterview.Preparing.Avoid.Mistakes.1" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Preparing.Avoid.Mistakes.2" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Preparing.Avoid.Mistakes.3" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Preparing.Avoid.Mistakes.4" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Preparing.Avoid.Mistakes.5" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Preparing.Avoid.Mistakes.6" group="GuiLabel"}}</li>
                        </ul>
                    </li>
                    <li>
                        <div class="interview-point-title">{{get_text "PrepareYourInterview.Preparing.Day.Before" group="GuiLabel"}}</div>
                        <ul>
                            <li>{{get_text "PrepareYourInterview.Preparing.Day.Before.1" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Preparing.Day.Before.2" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Preparing.Day.Before.3" group="GuiLabel"}}</li>
                        </ul>
                    </li>
                    <li>
                        <div class="interview-point-title">{{get_text "PrepareYourInterview.Preparing.On.The.Day" group="GuiLabel"}}</div>
                        <ul>
                            <li>{{get_text "PrepareYourInterview.Preparing.On.The.Day.1" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Preparing.On.The.Day.2" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Preparing.On.The.Day.3" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Preparing.On.The.Day.4" group="GuiLabel"}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="interview-structure" class="interview-section">
                <div class="interview-title">{{get_text "PrepareYourInterview.Structure.Title" group="GuiLabel"}}</div>
                <div class="interview-paragraph">{{get_text "PrepareYourInterview.Structure.Content.1" group="GuiLabel"}}</div>
                <ul>
                    <li>
                        <div class="interview-point-title">{{get_text "PrepareYourInterview.Structure.Introduction" group="GuiLabel"}}</div>
                        <div class="interview-point-text">{{get_text "PrepareYourInterview.Structure.Introduction.text" group="GuiLabel"}}</div>
                    </li>
                    <li>
                        <div class="interview-point-title">{{get_text "PrepareYourInterview.Structure.Introducing.Yourself" group="GuiLabel"}}</div>
                        <div class="interview-point-text">{{get_text "PrepareYourInterview.Structure.Introducing.Yourself.text" group="GuiLabel"}}</div>
                        <ul>
                            <li>{{get_text "PrepareYourInterview.Structure.Introducing.Yourself.1" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Structure.Introducing.Yourself.2" group="GuiLabel"}}</li>
                        </ul>
                    </li>
                    <li>
                        <div class="interview-point-title">{{get_text "PrepareYourInterview.Structure.Questions" group="GuiLabel"}}</div>
                        <div class="interview-point-text">{{get_text "PrepareYourInterview.Structure.Questions.text" group="GuiLabel"}}</div>
                        <ul>
                            <li>{{get_text "PrepareYourInterview.Structure.Questions.1" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Structure.Questions.2" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Structure.Questions.3" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Structure.Questions.4" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Structure.Questions.5" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Structure.Questions.6" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Structure.Questions.7" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Structure.Questions.8" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Structure.Questions.9" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Structure.Questions.10" group="GuiLabel"}}</li>
                        </ul>
                    </li>
                    <li>
                        <div class="interview-point-title">{{get_text "PrepareYourInterview.Structure.Your.Questions" group="GuiLabel"}}</div>
                        <div class="interview-point-text">{{get_text "PrepareYourInterview.Structure.Your.Questions.text" group="GuiLabel"}}</div>
                        <ul>
                            <li>{{get_text "PrepareYourInterview.Structure.Your.Questions.1" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Structure.Your.Questions.2" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Structure.Your.Questions.3" group="GuiLabel"}}</li>
                        </ul>
                    </li>
                    <li>
                        <div class="interview-point-title">{{get_text "PrepareYourInterview.Structure.End.Of.Interview" group="GuiLabel"}}</div>
                        <ul>
                            <li>{{get_text "PrepareYourInterview.Structure.End.Of.Interview.1" group="GuiLabel"}}</li>
                            <li>{{get_text "PrepareYourInterview.Structure.End.Of.Interview.2" group="GuiLabel"}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="interview-after" class="interview-section">
                <div class="interview-title">{{get_text "PrepareYourInterview.After.Title" group="GuiLabel"}}</div>
                <ul>
                    <li>
                        <div class="interview-point-title">{{get_text "PrepareYourInterview.After.1" group="GuiLabel"}}</div>
                        <div class="interview-point-text">{{get_text "PrepareYourInterview.After.1.text" group="GuiLabel"}}</div>
                    </li>
                    <li>
                        <div class="interview-point-title">{{get_text "PrepareYourInterview.After.2" group="GuiLabel"}}</div>
                        <div class="interview-point-text">{{get_text "PrepareYourInterview.After.2.text" group="GuiLabel"}}</div>
                    </li>
                </ul>
            </div>
            <div id="interview-more" class="interview-section">
                <a href="https://www.how2become.com/resources/interview-skills/" target="_blank">{{get_text "publish.providers.tooltip.link.more" group="GuiLabel"}}</a>
            </div>
        </div>
        <div class="side" style="display:none">
                <button class="button green interview-bot-btn">{{get_text "buttons.wizard.close" group="GuiLabel"}}</button>
        </div>
    </div>
</div>