{{#with SkillsPassport}}
<fieldset>
<header>
	<legend>{{get_text "CoverLetter.Addressee" group="GuiLabel"}}</legend>
</header>
	
<fieldset class="CoverLetter.Addressee Addressee">
	<div class="composite select addressee" name="CoverLetter.Addressee.PersonName.Title">
		<label for="Title">{{get_text "CoverLetter.Addressee.PersonName.Title"}}</label>
		<input type="text"  
				class="formfield help typeahead with-placeholder"
				title
				name="CoverLetter.Addressee.PersonName.Title.Label"
				data-help-key="CoverLetter.Addressee.PersonName.Title"
				rel="CoverLetter.Addressee.PersonName.Title"
				placeholder="{{get_text "CoverLetter.Addressee.PersonName.Title" group="EditorPlaceholder"}}"
				value="{{CoverLetter.Addressee.PersonName.Title.Label}}">
<!-- 		<span name="CoverLetter.Addressee.PersonName.Title.Label" class="help placeholder" style="display:none;">
				{{get_text "CoverLetter.Addressee.PersonName.Title" group="EditorPlaceholder"}}
		</span> -->
		<!-- data-defaultvalue="{{get_text "CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.Country" group="EditorPlaceholder"}}" -->
 		<input type="hidden"
				name="CoverLetter.Addressee.PersonName.Title.Code"
				value="{{CoverLetter.Addressee.PersonName.Title.Code}}">
	</div>
	<div class="addresseeNameField">
		<label for="FirstName">{{get_text "LearnerInfo.Identification.PersonName.FirstName"}}</label>
		<input type="text" 
				class="formfield help mandatory PersonName with-placeholder"
				title
				name="CoverLetter.Addressee.PersonName.FirstName"
				data-help-key="CoverLetter.Addressee.PersonName.FirstName"
				value="{{CoverLetter.Addressee.PersonName.FirstName}}">
		<span name="CoverLetter.Addressee.PersonName.FirstName" class="help placeholder" style="display:none;" >
		  {{{get_text "LearnerInfo.Identification.PersonName.FirstName" group="EditorPlaceholder"}}}
		</span>
	</div>
	<div class="addresseeNameField">
		<label for="Surname">{{get_text "LearnerInfo.Identification.PersonName.Surname"}}</label>
		<!--  data-defaultvalue="{{get_text "CoverLetter.Addressee.PersonName.Surname" group="EditorPlaceholder"}}" -->
		<input type="text" 
				class="formfield help mandatory PersonName with-placeholder"
				title
				name="CoverLetter.Addressee.PersonName.Surname"
				data-help-key="CoverLetter.Addressee.PersonName.Surname"
				value="{{CoverLetter.Addressee.PersonName.Surname}}">
		<span name="CoverLetter.Addressee.PersonName.Surname" class="help placeholder" style="display:none;">
			{{get_text "LearnerInfo.Identification.PersonName.Surname" group="EditorPlaceholder"}}
		</span>
	</div>
</fieldset>

<fieldset class="CoverLetter.Addressee.ContactInfo">

	<fieldset class="CoverLetter.Addressee.CompanyName" name="CompanyName">
		<label for="Email">{{get_text "CoverLetter.Addressee.Organisation" group="GuiLabel"}}</label>
		<input type="email" 
				class="formfield single help Organisation Name with-placeholder"
				title
				name="CoverLetter.Addressee.Organisation.Name"
				data-help-key="CoverLetter.Addressee.Organisation"
				value="{{CoverLetter.Addressee.Organisation.Name}}">
		<span name="CoverLetter.Addressee.Organisation.Name" class="help placeholder" style="display:none;">
					{{get_text "CoverLetter.Addressee.Organisation" group="EditorPlaceholder"}}
		</span>
	</fieldset>

	<fieldset class="address" name="Address">
		<label for="Address">{{get_text "CoverLetter.Addressee.Organisation.ContactInfo.Address" group="GuiLabel"}}</label>
		<fieldset class="AddressLine with-icon" name="AddressLine">
			<input type="text" 
					class="formfield help pref Address AddressLine single first-line with-placeholder"
					title
					name="CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.AddressLine"
					data-help-key="CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.AddressLine"
					data-bind-name="group"
					data-bind-group="CoverLetter.Addressee.Organisation.ContactInfo.Address"
					value="{{CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.AddressLine}}">
			<span name="CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.AddressLine" class="help placeholder" style="display:none;">
				{{get_text "CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.AddressLine" group="EditorPlaceholder"}}
			</span>
		</fieldset>
		<fieldset class="AddressLine with-icon" name="AddressLine2">
			<label for="AddressLine">{{get_text "CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.Address" group="GuiLabel"}}</label>
			<input type="text" 
					class="formfield help pref Address AddressLine with-placeholder"
					title
					name="CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.AddressLine2"
					data-help-key="CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.AddressLine2"
					data-bind-name="group"
					data-bind-group="CoverLetter.Addressee.Organisation.ContactInfo.Address2"
					value="{{CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.AddressLine2}}">
			<span name="CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.AddressLine2" class="help placeholder" style="display:none;">
				{{get_text "CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.AddressLine2" group="EditorPlaceholder"}}
			</span>
		</fieldset>
		<fieldset class="hybrid2">
			<fieldset class="PostalCode first" name="PostalCode">
				<label for="PostalCode">{{get_text "CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.Postal" group="GuiLabel"}}</label>
				<input type="text" 
						class="formfield help pref Address PostalCode with-placeholder"
						title
						name="CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.PostalCode"
						data-help-key="CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.PostalCode"
						data-bind-name="group"
						data-bind-group="CoverLetter.Addressee.Organisation.ContactInfo.Address"
						value="{{CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.PostalCode}}">
				<span name="CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.PostalCode" class="help placeholder" style="display:none;">
					{{get_text "CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.PostalCode" group="EditorPlaceholder"}}
				</span>
			</fieldset>
			<fieldset class="Municipality second" name="Municipality">
				<label for="Municipality">{{get_text "CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.Municipality" group="GuiLabel"}}</label>
				<input type="text" 
						class="formfield help pref Address Municipality with-placeholder"
						title
						name="CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.Municipality"
						data-help-key="CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.Municipality"
						data-bind-name="group"
						data-bind-group="CoverLetter.Addressee.Organisation.ContactInfo.Address"
						value="{{CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.Municipality}}">
				<span name="CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.Municipality" class="help placeholder" style="display:none;">
					{{get_text "CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.Municipality" group="EditorPlaceholder"}}
				</span>
			</fieldset>
		</fieldset>
		<fieldset class="country" name="Country">
			<label for="Country">{{get_text "CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.Country" group="GuiLabel"}}</label>
			<div class="composite select" name="CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.Country">
				<input type="text"  
						class="formfield help typeahead pref Address Country with-placeholder"
						title
						name="CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.Country.Label"
						data-help-key="CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.Country.Label"
						data-bind-name="group"
						data-bind-group="CoverLetter.Addressee.Organisation.ContactInfo.Address"
						rel="CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.Country"
						placeholder="{{get_text "CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.Country" group="EditorPlaceholder"}}"
						value="{{CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.Country.Label}}">
<!-- 				<span name="CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.Country.Label" class="help placeholder" style="display:none;">
						{{get_text "CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.Country" group="EditorPlaceholder"}}
				</span> -->
				<input type="hidden"
						name="CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.Country.Code"
						value="{{CoverLetter.Addressee.Organisation.ContactInfo.Address.Contact.Country.Code}}">
			</div>
		</fieldset>
	</fieldset>

</fieldset>

</fieldset>
{{/with}}