{{#if_eq Preferences.LearnerInfo.order compare="Identification Headline Education WorkExperience Skills Achievement ReferenceTo"}}
		<button type="button" 
				name="switchWorkEducationOrder"
				class="work-education-switch  switch tip spot tip-addLeft tip-removeLeft-9pixels" 
				data-tip.position="top-left">
				<span class="data-title" style="display:none">{{get_text "Buttons.Switch.Section" group="EditorHelp"}}</span>
		</button>
{{/if_eq}}
<dt class="label list section-heading">
     {{#if_gt SkillsPassport.LearnerInfo.Education.length compare="1"}}
	<span class="sort container">
            <button type="button"
                name="autosort"
                class="autoSort byDate tip spot education tip-removeLeft--10pixels tip-closerTop"
                data-tip.position="top-left">Auto Sort
                <span class="data-title" style="display:none;">{{get_text "Auto.Sort.Descend" group="EditorHelp"}}</span>
             </button>
        </span>
    {{/if_gt}}
    {{#if_eq Preferences.LearnerInfo.order compare="Identification Headline WorkExperience Education Skills Achievement ReferenceTo"}}
        <button type="button" name="enablePageBreak" 
            class="enablePageBreak sectionBreak tip spot tip-removeLeft--10pixels tip-closerTop {{#if_contains Preferences.LearnerInfo.pageBreaks compare="WorkEducation"}}break-page{{/if_contains}}" 
            data-section="WorkEducation"
            data-tip.position="top-left">Page Break
            <span class="data-title" style="display:none;">
                {{#if_contains Preferences.LearnerInfo.pageBreaks compare="WorkEducation"}}{{get_text "Remove.Page.Break" group="EditorHelp"}}{{/if_contains}}
                {{#if_absent Preferences.LearnerInfo.pageBreaks compare="WorkEducation"}}{{get_text "Insert.Page.Break" group="EditorHelp"}}{{/if_absent}}
            </span>
        </button>
    {{/if_eq}}
    <span class="title">{{get_text "LearnerInfo.Education" group="DocumentLabel"}}</span>
</dt>
<dd class="line"></dd>

<ol class="sortable compose-list" 
	id="List:SkillsPassport.LearnerInfo.Education" 
	data-rel-section="SkillsPassport.LearnerInfo.Education">
	
	{{#isEmptyObject SkillsPassport.LearnerInfo.Education}}
	
		
		<li class="compose-list empty" id="ListItem:LearnerInfo.Education.Empty">
			
			<button type="button" 
				name="LearnerInfo.Education[0]_add_btn" 
				data-rel-doc="cv"
				class="section compose-list opens-modal-form add empty"
				data-rel-clazz="EducationFormView"
				data-rel-form="Form:LearnerInfo.Education[0]"
				data-rel-section="SkillsPassport.LearnerInfo.Education[0]"
				data-rel-help-section="Help.SkillsPassport.LearnerInfo.Education"
				data-validation-field="date period"
				data-rel-index="0">
				<span class="img-placeholder">&nbsp;</span>
				<span>{{get_text "Buttons.Add.Content" group="GuiLabel"}}</span>
			</button>
			
		</li>

	{{else}}
		{{#each_with_index SkillsPassport.LearnerInfo.Education}}
		
				<li class="compose-list list-item opens-modal-form" 
					id="ListItem:LearnerInfo.Education[{{index}}]" 
					data-index="{{index}}"
					data-rel-doc="cv"
					data-rel-clazz="EducationFormView"
					data-rel-form="Form:LearnerInfo.Education[{{index}}]"
					data-rel-section="SkillsPassport.LearnerInfo.Education[{{index}}]"
					data-rel-help-section="Help.SkillsPassport.LearnerInfo.Education"
					data-validation-field="date period"
					data-rel-index="{{index}}">
					
                                        <hr {{#if_contains_cmplx ../../Preferences.LearnerInfo.pageBreaks "Education" index}}class="break-page"{{/if_contains_cmplx}}>

                                        <dd class="content-label Period ">
                                            
                                            {{#if_gt index compare="0"}}
                                                <button type="button" name="enablePageBreak" 
                                                    class="enablePageBreak subSectionBreak tip spot tip-removeLeft--10pixels tip-closerTop {{#if_contains_cmplx ../../Preferences.LearnerInfo.pageBreaks "Education" index}}break-page{{/if_contains_cmplx}}" 
                                                    data-section="Education{{index}}"
                                                    data-tip.position="top-left">Page Break
                                                    <span class="data-title" style="display:none;">
                                                        {{#if_contains_cmplx ../../Preferences.LearnerInfo.pageBreaks "Education" index}}{{get_text "Remove.Page.Break" group="EditorHelp"}}{{/if_contains_cmplx}}
                                                        {{#if_absent_cmplx ../../Preferences.LearnerInfo.pageBreaks "Education" index}}{{get_text "Insert.Page.Break" group="EditorHelp"}}{{/if_absent_cmplx}}
                                                    </span>
                                                </button>
                                            {{/if_gt}}

                                            {{#if Period}} 
                                                {{#format_date_period Period current_pref_item.Period.format false DocumentType="ECV"}}
                                                        <span class="PeriodRange">{{{.}}}</span>
                                                {{/format_date_period}}
                                            {{/if}}
                                        </dd>
					
					{{#if Title}}
						<dd class="value Title">
							<span class="Title">{{Title}}</span>
						</dd>
					{{/if}}
					
					{{#if Level}}
						<dd class="value Level">
								<span class="Level">{{Level.Label}}</span>
						</dd>
					{{/if}}
					
					{{#if Organisation}}
						<dd class="value Organisation">
							{{#if Organisation.Name}}
								<span class="Name">{{Organisation.Name}}</span>
							{{/if}}
							
							{{#if Organisation.ContactInfo.Address}}
								<div class="Address {{#unless Organisation.ContactInfo.Address.Contact.AddressLine}}{{#unless Organisation.ContactInfo.Address.Contact.PostalCode}}minimal{{/unless}}{{/unless}}">
								{{#if Organisation.ContactInfo.Address.Contact}}
									{{#unless Organisation.ContactInfo.Address.Contact.AddressLine}}
										{{#unless Organisation.ContactInfo.Address.Contact.PostalCode}}
											{{#if Organisation.Name}}
												{{^isOnlyCountry Organisation.ContactInfo.Address.Contact}}
													<span class="comma-separator">, </span>
												{{else}}
												     &nbsp;
												{{/isOnlyCountry}}
											{{/if}}
										{{/unless}}
									{{/unless}}
									{{#format_organisation_address Organisation.ContactInfo.Address.Contact}}
										<span class="Address">{{.}}</span>
									{{/format_organisation_address}}
								{{/if}}
								</div>
							{{/if}}
							
							{{#if Organisation.ContactInfo.Website}}
								<div class="Website">
									{{#if Organisation.ContactInfo.Website.Contact}}
										<span class="Website">
											{{#format_link Organisation.ContactInfo.Website.Contact type="website"}}{{{.}}}{{/format_link}}
										</span>
									{{/if}}
								</div>
							{{/if}}
						</dd>
					{{/if}}
					
					{{#if Activities}}
						<dd class="value rich-content Activities">
							{{nestHtmlLists Activities}}
						</dd>
					{{/if}}
					
					{{#if Field}}
						<dd class="value Field">
							{{#if Field}}
								<span class="Field">{{Field.Label}}</span>
							{{/if}}
						</dd>
					{{/if}}
					
					
					{{#if ReferenceTo}}
						<dd class="value attachment">
						{{#if ReferenceTo}}
							<span class="attachment inner-content-label">{{get_text "LearnerInfo.Education.ReferenceTo" group="DocumentLabel"}}</span>
							{{#each_with_index ReferenceTo index_name="index2"}}
								{{#with_attachment ../../../../SkillsPassport.Attachment idref}}
									<span class="linked-attachment" name="{{Name}}">
									{{#if_gt ../index2 compare="0"}}, {{/if_gt}}
									{{#crop_text Description}}{{.}}{{/crop_text}}
									</span>
								{{/with_attachment }}
							{{/each_with_index}}
						{{/if}}
						</dd>
					{{/if}} 
					
					{{#call_partial . path="LearnerInfo.Education" buttons="Extra"}}
						{{> templates/menu/listitemmenu}}
					{{/call_partial}}
					
					{{#if_gt ../../SkillsPassport.LearnerInfo.Education.length compare="1"}}
<!-- 						<span class="sortable_placeholder tip spot" data-tip.position="top-left"> +</span> -->
							<span class="data-title" style="display:none;">{{get_text "Reorder.List.Sections" group="EditorHelp"}}</span>
							 
<!-- 					     <div class = "manage-sorting"> -->
						<button type="button"
								name="move_up"
								class="sort-move-up {{#if_eq index compare="0"}}inactive{{else}}tip spot tip-removeLeft--10pixels{{/if_eq}}"
						        data-tip.position="top-left">
						        <span>UP</span>
						         <span class="data-title" style="display:none;">{{get_text "Move.Sort.Upwards" group="EditorHelp"}}</span>
						        </button>
						<button type="button"
								name="move_down"
								class="sort-move-down {{#if_last_item ../../SkillsPassport.LearnerInfo.Education.length compare=index}}inactive{{else}}tip spot tip-removeLeft--10pixels{{/if_last_item}}"
						        data-tip.position="top-left">
								<span>DOWN</span>
								<span class="data-title" style="display:none;">{{get_text "Move.Sort.Downwards" group="EditorHelp"}}</span>
								</button>
						
						{{#if_last_item ../../SkillsPassport.LearnerInfo.Education.length compare=index}}
							<button type="button"
								name="move_top"
								class="sort-move-top tip spot tip-removeLeft--10pixels"
								data-tip.position="top-left">
								<span>TOP</span>
								<span class="data-title" style="display:none;">{{get_text "Move.Sort.ToTop" group="EditorHelp"}}</span>
								</button>
						{{/if_last_item}}

<!-- 						</div> -->
					
					{{/if_gt}}
					
				</li>
		{{/each_with_index}}
		
		<li class="compose-list empty">
			
			<button type="button" 
					name="LearnerInfo.Education[{{SkillsPassport.LearnerInfo.Education.length}}]_add_btn" 
					class="section compose-list add opens-modal-form edit" 
					data-rel-doc="cv"
					data-rel-clazz="EducationFormView"
					data-rel-form="Form:Education[{{SkillsPassport.LearnerInfo.Education.length}}]"
					data-rel-section="SkillsPassport.LearnerInfo.Education[{{SkillsPassport.LearnerInfo.Education.length}}]"
					data-rel-help-section="Help.SkillsPassport.LearnerInfo.Education"
					data-validation-field="date period"
					data-rel-index="{{SkillsPassport.LearnerInfo.Education.length}}">
					<span class="img-placeholder">&nbsp;</span>
					<span>
					{{#if_lt SkillsPassport.LearnerInfo.Education.length compare="1"}}
						{{get_text "Buttons.Add.Content" group="GuiLabel"}}
					{{/if_lt}}
					{{#if_gteq SkillsPassport.LearnerInfo.Education.length compare="1"}}
						{{get_text "Buttons.Add.Content.Not.Empty.Education" group="GuiLabel"}}
					{{/if_gteq}}
					</span>
			</button>
		</li>
	{{/isEmptyObject}}			
</ol>