<div class="file-uploading">

	<div class="progress-bar uploading" name="{{name}}" data-rel-file-index="{{file_index}}" aria-valuenow="0" aria-valuemax="100" aria-valuemin="0" role="progressbar">
		&nbsp;
	</div>
	
	<div class="attachment uploading">
		
		<a  class="{{type}} file-details" 
			name="{{name}}" 
			data-rel-attachment="">
			<span class="file-name"> 
			{{#crop_text name length="50" crop="23" }}
			   {{.}}
			{{/crop_text}}
			<span class="file-size">{{size}}</span> </span>
		</a>
		
		<button type="button" class="cancel-upload" data-rel-file-index="{{file_index}}">X</button>
		
	</div>
	
</div>
